# CMake build artifacts
build/
out/
compile_commands.json

# Local cmake presets
CMakeUserPresets.json

# python artifacts
__pycache__
**/*.egg-info/

src/surfio.cpython*.so

# IDE files
.idea
.vscode
