name: Publish

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    name: Python ${{ matrix.python[0] }} on ${{ matrix.os_arch[0] }}-${{ matrix.os_arch[1] }}
    runs-on: ${{ matrix.os_arch[0] }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        python:
          - ["3.11", cp311]
          - ["3.12", cp312]
          - ["3.13", cp313]
        os_arch:
          - [ubuntu-latest, manylinux_x86_64]
          - [windows-latest, win_amd64]
          - [macos-latest, macosx_arm64]
    env:
      CIBW_BUILD: ${{ matrix.python[1] }}-${{ matrix.os_arch[1] }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: True

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python[0] }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Configure compiler vars [macos]
        if: ${{ contains(runner.os, 'macos') }}
        run: |
          echo "CC=gcc-14" >> $GITHUB_ENV
          echo "CXX=g++-14" >> $GITHUB_ENV
          echo "LD=ld" >> $GITHUB_ENV
          echo "AR=gcc-ar-14" >> $GITHUB_ENV
          echo "RANLIB=gcc-ranlib-14" >> $GITHUB_ENV
          echo "MACOSX_DEPLOYMENT_TARGET=15.0" >> $GITHUB_ENV

      - name: Install cibuildwheel
        run: python -m pip install -U pip wheel cibuildwheel twine

      - name: Run cibuildwheel
        run: cibuildwheel --output-dir wheelhouse

      - name: Check metadata
        run: twine check wheelhouse/*

      - uses: actions/upload-artifact@v6
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        with:
          name: cibw-${{ env.CIBW_BUILD }}
          path: wheelhouse/*.whl

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: cibw-*
          path: wheelhouse
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          packages-dir: wheelhouse
          verbose: true
